{% extends "base.html" %}
{% load static %}

{% block title %}Our Clients | Rawasi Al Ammal{% endblock %}

{% block content %}

<!-- ================= HERO / BANNER ================= -->
<section class="relative h-[30vh] flex items-center bg-white overflow-hidden">
    <img src="https://images.unsplash.com/photo-1521737604893-d14cc237f11d"
         class="absolute inset-0 w-full h-full object-cover">
    <div class="absolute inset-0 bg-brandBlack/70"></div>

    <div class="relative max-w-7xl mx-auto px-6 text-center">
        <h1 class="text-4xl md:text-5xl font-extrabold text-white">
            Our <span class="text-brandLightBlue">Clients</span>
        </h1>
       
    </div>
</section>



<section class="bg-white py-24">
    <div class="max-w-7xl mx-auto px-6">

      

        <!-- Clients Grid -->
        <div class="grid grid-cols-2 md:grid-cols-5 gap-10 items-center">

            {% for client in clients %}
            <div data-aos="zoom-in"
                 class="flex items-center justify-center transition">

                <img src="{{ client.image.url }}"
                     alt="{{ client.name }}"
                     class="h-full w-full object-contain transition duration-300">
            </div>
            {% endfor %}

        </div>

    </div>
</section>

{% endblock %}
